.flex-container{
  display: flex;
}

.end-date-wrapper{
  margin-left: 10px;
}

.end-date-wrapper{
  margin-left: 10px;
}

.margin-right{
  margin-right: 15px;
}

.flex-container .width-narrow{
  width: 6em;
}
