.flex-container{
  display: flex;
}

.margin-top{
  margin-top:15px;
}

.margin-left {
  margin-left: 15px;
}

.margin-right{
  margin-right: 15px;
}

.flex-container .width-narrow{
  width: 6em;
}

#block-time,
#time-margin {
  display: block;
}
